<div class="jumbotron">
    <h4 class="display-8">Race #{{ race.id }} Time: {{ race.curTime }} sec</h4>

    <table class="table">
        <tbody>
            {% for participant in race.participants %}
                <tr>
            <td style="width: 15%">#{{ participant.position }} {{ participant.horse.name }}</td>
            <td style="width: 85%">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="1500" style="width: {{ participant.distance / (race.distance / 100)  }}%">{{ participant.distance }} meters</div>
                </div>
            </td>
        </tr>
            {% endfor %}

        </tbody>
    </table>

    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-sm" href="/proceed/{{ race.id }}" role="button">Progress</a>
    </p>
</div>